/* Attribute: https: //stackoverflow.com/questions/12582555/always-show-browser-scrollbar-to-prevent-page-jumping */
html {
  overflow-y: scroll;
}

/* Attribute: https://stackoverflow.com/a/30348277/5929034 */
/* for chrome hidden scrollbar  */
/* to prevent shifting body content when the modal is toggled   */
::-webkit-scrollbar {
  width: 0px !important;
}

/* Background pattern from Subtle Patterns */
body {
  background: #ffffff url('../img/geometry2.png');
}

/*
 * Styles for the deck of cards
 */

#deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  place-items: center/center;
  place-content: space-evenly/space-evenly;
  max-width: 60%;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

img {
  width: 100%;
}

.card:hover {
  opacity: 0.1;
}

.notSelected {
  background: #ffffff;
  border-style: dashed;
  border-radius: 0.8em;
  min-height: 14em;
  position: relative;
}

#send, #randomize {
  margin-left: 45%;
  font-size: 1.2em;
}

#randomize {
  margin-top: 3%;
}

#send {
  margin-top: 1%;
}

.card {
  position: relative;
}

.infoIcon, .deleteIcon {
  position: absolute;
  visibility: hidden;
  left: 45%;
}

.infoIcon {
  top: 20%;
}

.deleteIcon {
  top: 60%;
}

.card:hover .infoIcon,
.card:hover .deleteIcon {
  visibility: visible;
  z-index: 10;
}

.addIcon {
  position: absolute;
  top: 45%;
  left: 45%;
}
